body
{
background-color:white;
}
h1
{
text-align:center;
}
header.one
{
background-color:red;
color:white;
text-align:center;
padding:20px;
margin:50px 100px 50px 100px;
border:5px double green;
}
.column1
{
float:left;
width:30%;
background-color:gold;
height:200px;
color:green;
padding:12px;
margin:5px;
}
.column2
{
float:left;
width:30%;
background-color:green;
height:200px;
color:orange;
padding:12px;
margin:5px;
}
.column3
{
float:left;
width:30%;
background-color:SkyBlue;
height:200px;
color:DarkRed;
padding:12px;
margin:5px;
}
.pos
{
position:relative;
}
.accuracy
{
position:absolute;
bottom:20px;
left:600px;
}
.pitch
{
position:absolute;
bottom:300px;
left:600px;
}
.play 
{
position:absolute;
bottom:400px;
left:550px;
}
img.image
{
width:100%;
height:600px;
}
ul.first
{
list-style-type:none;
padding:0;
margin-left:200px;
background-color:#f3f3f3;
width:75%;
}
ul.first li a
{
display:block;
color:black;
text-decoration:none;
padding:20px 20px;
text-align:center;
}
ul.first li a.current
{
color:white;
background-color:blue;
}
ul.first a:hover:not(.current)
{
color:white;
background-color:SlateBlue;
}
@media screen and (max-width:600px)
{
ul.first li
{
float:left;
}
}
.clearfix::after
{
clear:both;
display:table;
content:"";
}
header.heading2
{
text-align:center;
padding:30px;
background-color:green;
color:white;
}
ol.list
{
background-color:red;
margin:10px 50px 10px 50px;
}
ol.list li
{
background-color:#ffe5e5;
color:blue;
margin:10px;
padding:15px;
text-align:center;
color:green;
}
ol.list li:hover
{
color:white;
background-color:Indigo;
}
ol.test
{
background-color:AquaMarine;
margin:10px 50px 10px 50px;
}
ol.test li
{
background-color:LimeGreen;
color:DarkBlue;
padding:15px;
text-align:center;
margin:10px;
}
ol.test li:hover
{
color:red;
background-color:LightBlue;
}
ol.format
{
background-color:DarkRed;
margin:10px 50px 10px 50px;
}
ol.format li
{
color:red;
background-color:#f3f3f3;
text-align:center;
padding:10px;
margin:10px;
}
ol.format li:hover
{
color:DarkBlue;
background-color:gold;
}
div.img1
{
border:2px double red;
width:300px;
background-color:SkyBlue;
color:Indigo;
float:left;
padding:20px;
margin:20px;
}
div.img1 img.into
{
width:100%;
height:auto;
}
.capn
{
text-align:center;
}
div.img1:hover
{
background-color:DeepPink;
color:white;
}
div.img2
{
border:2px double blue;
width:250px;
padding:20px;
float:left;
margin:5px;
background-color:gold;
color:green;
margin:10px;
}
div.img2:hover
{
border:5px double blue;
background-color:red;
color:white;
}
.cap 
{
text-align:center;
}
table.tab
{
border:2px solid red;
border-collapse:collapse;
}
div.img2 img.in
{
width:100%;
height:auto;
}
div.img3
{
float:left;
width:200px;
height:150px;
margin:20px;
border:10px groove Navy;
padding:25px;
}
div.img3 img.img4
{
width:100%;
height:auto;
}
.captn
{
text-align:center;
}
div.img5
{
float:left;
width:200px;
height:150px;
color:DarkGreen;
padding:30px;
margin:25px;
border:10px groove DarkGreen;
background-color:LightBlue;
}
div.img5 img.img6
{
width:100%;
height:auto;
}
.captnn
{
text-align:center;
}
div.img7
{
float:left;
width:200px;
height:150px;
color:DeepPink;
margin:20px;
padding:30px;
border:10px groove red;
background-color:LightGreen;
}
div.img7 img.img8
{
width:100%;
height:auto;
}
.capttn
{
text-align:center;
}
table.table2,th,td
{
border:5px groove red;
border-collapse:collapse;
width:1300px;
}
th,td
{
padding:60px;
}
th
{
color:white;
background-color:green;
}
td
{
color:Navy;
}
table.table2 tr:nth-child(even)
{
background-color:yellow;
}
table.table2 tr:nth-child(odd)
{
background-color:lime;
}

table.table2 tr:nth-child(even):hover
{
color:Indigo;
background-color:orange;
}
table.table2 tr:nth-child(odd):hover
{
color:green;
background-color:violet;
}
div.img9
{
float:left;
width:250px;
height:200px;
border:5px groove DeepPink;
margin:15px;
padding:15px;
background-color:Aqua;
}
div.img9 img.img10
{
width:100%;
height:auto;
}
.capnn
{
text-align:center;
}
div.magic
{
color:blue;
background-color:LightGreen;;
text-align:center;
vertical-align:center;
}
div.magic p
{
display:none;
}
div.magic:hover p
{
display:block;
color:orange;
text-align:center;
}
.navn
{
list-style-type:none;
margin:0;
padding:0;
background-color:blue;
overflow:hidden;
}
.navn li
{
float:left;
}
.navn li a,.dropp
{
color:white;
padding:20px 50px;
text-decoration:none;
}
.dropdown
{
display:block;
}
.dropdown-content
{
display:none;
position:absolute;
background-attachment:#f2f2f2;
min-width:150px;
}
.dropdown-content a
{
display:block;
color:black;
padding:0px;
text-align:center;
}
.dropdown-content a:hover
{
background-color:red;
}
.navn li a,.dropdown:hover .dropp
{
background-color:orange;
}
.dropdown:hover .dropdown-content
{
display:block;
}
div.center
{
text-align:center;
}
a.ar:link
{
color:red;
text-decoration:none;
}
a.ar:visited
{
color:green;
}
a.ar:hover
{
color:purple;
font-size:32px;
background-color:orange;
text-decoration:underline;
}
a.ar:active
{
color:Indigo;
background-color:red;
}
div.atbe
{
overflow:scroll;
width:200px;
padding-left:300px;
height:100px;
}
input[type="text"]
{
width:40%;
box-sizing:border-box;
background-color:lime;
color:blue;
border:2px solid Indigo;
border-radius:5px;
margin:5px 100px;
padding:20px;
}
input[type="text"]:focus
{
transition:3s;
width:80%;
background-color:AliceBlue;
}
select#fav11
{
padding:25px;
background-color:AquaMarine;
color:green;
width:80%;
}
input#fav12
{
color:white;
background-color:red;
padding:15px;
float:right;
}